
$btn-hover-color: #D54857;
$tag-btn-background: #F5F5F5;
$tag-font: $bodoni-regular;
$tag-hover-background: $secondary;
.btn{

    display: block;
    @media(min-width:768px){
        display: inline-block;
    }
    padding: 15px 36px;
    border: 1px solid #1E1E1E;
    cursor: pointer;
    transition: 0.2s linear;
    text-transform: uppercase;
    font-size: 1.4rem;
    line-height: 1.7rem;    
    letter-spacing: 0.5px;

    &:hover{
        background-color: lighten($btn-hover-color, 40%); 
    }

    &:focus{
        box-shadow: 0 0 0 0.25rem rgba($btn-hover-color, 0.25);
    }

}

.btn{
    .single-item &{
        display: inline-block;
        background-color: $tag-btn-background;
        border: none;
        padding: 3px 14px;
        font-family: $tag-font;
        font-size: 1.6rem;
        line-height: 2.7rem;
        text-transform: lowercase;
        margin-right:  1rem;
        
        &:hover{
            background-color: $tag-hover-background;
        }
    }
}