
$btn-hover-color: #D54857;
.btn{
   
    display: block;
    @media(min-width:768px){
        display: inline-block;
    }
    padding: 15px 36px;
    border: 1px solid #1E1E1E;
    cursor: pointer;
    transition: 0.2s linear;
    text-transform: uppercase;
    font-size: 1.4rem;
    line-height: 1.7rem;    
    letter-spacing: 0.5px;

    &:hover{
        background-color: lighten($btn-hover-color, 40%); 
    }
    
    &:focus{
        box-shadow: 0 0 0 0.25rem rgba($btn-hover-color, 0.25);
    }
    
}