

// 

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');

@font-face {
    font-family: 'Bodoni Book Regular';
    src: url('fonts/BondoniBookRegular/Bondon-Book.eot');
    src: 
        local('Bodoni Book Regular'),
        url('fonts/BondoniBookRegular/Bodoni-Book.woff2') format('woff2'),
        url('fonts/BondoniBookRegular/Bodoni-Book.woff') format('woff'),
        url('fonts/BondoniBookRegular/Bodoni-Book.ttf') format('truetype');

    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bodoni Book Italic';
    src: url('fonts/BodoniBookItalic/Bodoni-Book_1.eot');
    src: 
        local('Bodoni Book Italic'),
        url('fonts/BodoniBookItali/Bodoni-Book_1.woff2') format('woff2'),
        url('fonts/BodoniBookItali/Bodoni-Book_1.woff') format('woff'),
        url('fonts/BodoniBookItali/Bodoni-Book_1.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

