$form-control-font:$bodoni-italic;
$form-span-color: $body-color;
.about{

    padding: 91px 0 78px;

    .about-page{
        h2{
            font-size: 4.4rem;
            line-height: 5rem;
            margin-bottom: 3rem;
        }
        img{
            margin-bottom: 6.6rem;
        }
        p{
            &:first-of-type{
                font-size: 2rem;
                line-height: 2.8rem;
                margin-bottom: 5rem;   
            }

            &:last-of-type{
                font-size: 1.8rem;
                line-height: 2.6rem;

            }
        }
    }


    .form-group{
        position: relative;
        .form-control {
            padding: 2rem;
            font-size: 2rem;
            font-family: $form-control-font;

        }

        .form-control-feedback {
            position: absolute;
            z-index: 2;
           
            color: $form-span-color;
            right: 400px;
            bottom: 3px;  
            font-size: 2rem;
        }
    }
}