$form-control-font:$bodoni-italic;
$form-span-color: $body-color;
$form-placeholder-color: $body-color;

.about{

    padding: 91px 0 78px;

    .about-page{
        h2{
            font-size: 4.4rem;
            line-height: 5rem;
            margin-bottom: 3rem;
        }
        img{
            margin-bottom: 6.6rem;
        }
        p{
            &:first-of-type{
                font-size: 2rem;
                line-height: 2.8rem;
                margin-bottom: 5rem;   
            }

            &:last-of-type{
                font-size: 1.8rem;
                line-height: 2.6rem;

            }
        }
    }

    .form-group{
        position: relative;
        .form-control {
            padding: 2rem;
            font-size: 2rem;
            font-family: $form-control-font;

            &::placeholder{
                color: $form-placeholder-color
            }
            border: 1px solid #1E1E1E;
            &:focus{
                box-shadow: 0 0 0 0.25rem rgba($btn-hover-color, 0.25);
            }
        }
        .form-control-feedback {
            position: absolute;
            z-index: 2;
            color: $form-span-color;
            font-size: 2rem;
            right: 9px;
            bottom: 27px;  





        }
    }
}