.about{

    padding: 91px 0 78px;

    .about-page{
        h2{
            font-size: 4.4rem;
            line-height: 5rem;
            margin-bottom: 3rem;
        }
        img{
            margin-bottom: 6.6rem;
        }
        p{
            &:first-of-type{
                font-size: 2rem;
                line-height: 2.8rem;
                margin-bottom: 5rem;   
            }

            &:last-of-type{
                font-size: 1.8rem;
                line-height: 2.6rem;

            }
        }
    }



    .has-search .form-control {
        padding-left: 2.375rem;
    }

    .has-search .form-control-feedback {
        position: absolute;
        z-index: 2;
        display: block;
        width: 2.375rem;
        height: 2.375rem;
        line-height: 2.375rem;
        text-align: center;
        pointer-events: none;
        color: #aaa;
        right: 400px;
    }

}