$form-control-focus: $secondary;
$form-control-background: #253D61;
$placeholder-font: $lato;

.contact{
    padding: 120px 0 110px;

    .contact-title{
        font-family: $section-font;
        font-size: 3rem;
        line-height: 4.5rem;
        letter-spacing: 5px;
        text-transform: uppercase;
        margin-bottom: 4rem;
    }
    .contact-wrapper{
        @media(min-width:992px){
            margin-left: 15px;
            width: 45%;
        }
        @media(min-width:1200px){
            width: 40%;
            margin-left: 29px;
        }
        @media(min-width:1400px){
            //margin-left: 291px;
            margin-left: 39px;
        }

    }

    .contact-map{


        @media(min-width:992px){
            width: 50%;
        }
    }

    .form-control{

        margin-bottom: 2rem;
        border: none;
        background-color: rgba($form-control-background, 0.02);
        padding: 12px 7px 11px 19px;

        &:last-of-type{
            margin-bottom: 3rem;
        }
        &:focus{
            box-shadow: 0 0 0 0.25rem rgba($form-control-focus, 0.25);
            border-color: $form-control-focus;
        }
        &::placeholder{
            font-family: $placeholder-font;
            font-weight: 300;
            font-size: 1.6rem;
            line-height: 2.5rem;
            letter-spacing: -0.23px;

        }

    }


}



.contact-info{
    padding: 63px 0 60px;
    margin-bottom: 4.6rem;


    p{
        margin-bottom: 15px;
        &:last-of-type{
            margin-bottom: 0;
        }
        a{
            font-size: 2.4rem;
            line-height: 2.5rem;  

            &:hover{
                color: $white;
            }
        }
    }

}
