footer{
    padding: 49px 0 25px;

    .social{
        transition: 1.3s linear;
        
        
        .fa{
            margin: 0 16px;
            color: $secondary;
            font-size: 2.5rem;
            
            &:hover{
                transform: scale(1.5);
            }
/*            &:first-of-type{
                margin-left: 0;
            }*/
        }
    }

    .copyright{
        font-weight: 400;
        font-size: 1.2rem;
        line-height: 4.1rem;
        letter-spacing: -0.17px;

        a:hover{
            color: $secondary;
        }

    }


}