.single-services{
    padding: 170px 0 181px;

    .single-service-content{
        h2{
            font-size: 4.4rem;
            line-height: 5rem;
            text-transform: uppercase;
            margin-bottom: 3rem;

        }
        p{
            font-size: 1.8rem;
            line-height: 2.6rem;
        }
    }
}