

$pagination-font: $bodoni-regular;

.blog{
    .pagination{

        justify-content: center;

        .page-link{
            color: $body-font;
            border: none;
            font-family: $pagination-font;

            &:hover{
                color: $secondary;
                background-color: transparent;
            }

            &:focus{
                color: $secondary;
                background-color: transparent;
                outline: none;
                box-shadow: 0 0 0 0.25rem rgba(236, 217, 217, 0.25);
            }
        }

        .arrow{
            font-size: 2.8rem;
        }

        .page-item{
            &:not(:first-child) .page-link {
                margin-left: 4px;
            }
        }
    }
}